*{
    margin: 0px;
    padding: 0px;
}
.play,.end{
    h2{
        margin: 10px;
    }
    input{
        margin: 10px ;  
    }
    span{
        margin: 0 20px;
    }
    button{
        margin: 0 20px;
    }
}